<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
<!-- 	<context:component-scan base-package="com.smoner"/> -->
	<bean id="car" class="com.smoner.beanlifecycle.applicationcontext.Car" init-method="myInit" destroy-method="myDestroy" scope="singleton">
		<property name="brand" value="红旗CA72"/>
		<property name="maxSpeed" value="200"/>
<!-- 		<property name="scope" value="singleton"/> -->
	</bean>
		<bean id="car2" class="com.smoner.beanlifecycle.applicationcontext.Car2" scope="singleton">
		<property name="brand" value="红旗CA72"/>
		<property name="maxSpeed" value="200"/>
<!-- 		<property name="scope" value="singleton"/> -->
	</bean>
	<bean id="myInstantiationAwareBeanPostProcessor" class="com.smoner.beanlifecycle.applicationcontext.MyInstantiationAwareBeanPostProcessor" />
	<bean id="myBeanPostProcessor" class="com.smoner.beanlifecycle.applicationcontext.MyBeanPostProcessor" />
	<bean id="appContextClosedEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.MyAppContextClosedEventListener" scope="singleton"/>
	<bean id="appContextRefreshedEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.MyAppContextRefreshedEventListener" scope="singleton"/>
	<bean id="appContextStartedEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.MyAppContextStartedEventListener" scope="singleton"/>
	<bean id="appContextStoppedEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.MyAppContextStoppedEventListener" scope="singleton"/>
	<bean id="appServletRequestHandledEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.MyAppServletRequestHandledEventListener" scope="singleton"/>
	<bean id="appDefiListener" class="com.smoner.beanlifecycle.webapplicationcontext.event.MyDefiEventListener" scope="singleton"/>
	<bean id="methodExecutionEventListener" class="com.smoner.beanlifecycle.applicationcontext.event.defipublisher.MethodExecutionEventListener" scope="singleton"/>
	<bean id="myDefiEventPublisher" class="com.smoner.beanlifecycle.applicationcontext.event.defipublisher.MyDefiEventPublisher" scope="singleton"/>
</beans>